pip

wheel
twine

sphinx

tox
coverage
pytest
pytest-cov
pytest-randomly

sphinxbootstrap4theme

numpy>=1.11.3
pandas>=1.2.3
scikit-learn>=0.22
scipy>=1.5.0
hoggorm>=0.13.3
hoggormplot>=0.13.2
matplotlib>=3.2.2
seaborn>=0.10
